
.form{
   background-color: rgb(242, 242, 242);
   margin-top: 70px;
   width: 400px;
   height: 420px;
}

.box{
   background-color: #30a862;
   color: white;
   padding: 16px 20px;
   width: 90%;
   margin-bottom: 15px;
   height: 50px;
}

input[type=text]{
   width: 83%;
   margin-bottom: 15px;
   padding: 10px;
}

input[type=email]{
   width: 83%;
   margin-bottom: 15px;
   padding: 10px;
}

input[type=number]{
   width: 83%;
   margin-bottom: 15px;
   padding: 10px;
}

input[type=textarea]{
   width: 83%;
   margin-bottom: 15px;
   padding: 10px;
}

.button{
   background-color: #30a862;
   color: white;
   padding: 16px 20px;
   border: none;
   width: 90%;
   margin-bottom: 15px;
   height: 50px;
   margin-top: 15px; 
}