
table{
    position:center;
    width: 90%;
    height: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    border: 30px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(#fff, rgb(189, 181, 181)), linear-gradient(white, rgb(95, 94, 94));
}

.head{
    color: white;
    background: rgb(5,5,126);
}

.row1{
    color: white;
    background: rgb(30, 105, 218);
}

.row3{
    background: rgb(100, 191, 230);
}
.row5{
    background: rgb(100, 191, 230);
}
.row7{
    background: rgb(100, 191, 230);
}
.row9{
    background: rgb(100, 191, 230);
}
